/* Site-wide style for the tech blog */

/* Setting up global variables, change all in one place here.
   I can use `var(--variable-name)` to use the variable */

:root {

  /* Colors */

  /* Google's Material Design Green */
  --color-primary: #4CAF50;
    --color-primary-dark: #1B5E20;
    --color-primary-light: #C8E6C9;

  /* Google's Material Design Amber */
  --color-highlight: #FFC107;
    --color-highlight-dark: #C8E6C9;
    --color-highlight-light: #FFECB3;

  /* Google's Material Design Gray */
  --color-gray: #9E9E9E;
    --color-gray-dark: #424242;
    --color-gray-light: #E0E0E0;
}

body {
  /* https://en.wikipedia.org/wiki/Palatino#/media/File:Palatino_%26_Aldus.png */
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 18px; /* Larger is better for readability */
  font-weight: 500;
  color: var(--color-gray-dark);

  background-color: var(--color-gray-light);

}


/* Probably only going to use down to h3 */
h1, h2, h3 {
  font-family: Tahoma, Geneva, sans-serif;
  color: var(--color-gray-dark);
}

a:visited {
  text-decoration: none;
  color: var(--color-gray);
}

.gradient-green {
  background: linear-gradient(#1B5E20, #2E7D32);
  color: white;
}

.gradient-green .detail-text {
  color: var(--color-primary-light);
  font-size: 1.5em;
  margin-right: 350px;
}

/* Spacing for article cards */
.article-decks {
  margin-top: 30px;
  margin-bottom: 10px;
}

.deck-row {
  margin: 20px 10px 20px 10px;
}

/* Inspiration: http://www.w3schools.com/howto/howto_css_cards.asp */
/* Card shaped thumbnail for an article */
.article-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* Padding for the card's content */
.article-card .card-content {
  padding: 10px 20px 40px 20px;
}

.card-content h1 {
  margin-bottom: 10px;
}
.card-content a:hover {
  text-decoration: none;
}

.article-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
